{% extends "base.html.j2" %}
{% block contenu %}
<section class="carte carte-etroite">
  <h1>{{ titre }}</h1>
  <p>{{ message }}</p>
  <p><a class="btn" href="/">{{ _("Revenir à l'accueil") }}</a></p>
</section>
{% endblock %}
